In [1]:
import json
import pandas as pd

In [2]:
json_path = 'shapec_result_full.json'
with open(json_path,'r') as f:
    res = json.load(f)

In [3]:
res.keys()

dict_keys(['YachidaS_2019', 'ZellerG_2014', 'WirbelJ_2018', 'VogtmannE_2016', 'YuJ_2015'])

## 1. YachidaS_2019

In [14]:
study = 'YachidaS_2019'
pd.DataFrame(res)[[study]].sort_values('YachidaS_2019',ascending=False).round(2).head(5)

             YachidaS_2019
RF_MLP2_pc2           0.84
RF_LR2_pc2            0.84
RF_LR2_pc3            0.83
RF_LR2_pc50           0.83
RF_RF2_pc2            0.82

# 2. ZellerG_2014

In [19]:
study = 'ZellerG_2014'
pd.DataFrame(res)[[study]].sort_values(study,ascending=False).round(2).head(5)

             ZellerG_2014
RF_LR2_pc50          0.85
RF_LR2_pc2           0.85
RF_LR2_pc3           0.85
RF_RF2_pc2           0.83
RF_MLP2_pc2          0.82

# 3. WirbelJ_2018

In [20]:
study = 'WirbelJ_2018'
pd.DataFrame(res)[[study]].sort_values(study,ascending=False).round(2).head(5)

              WirbelJ_2018
RF_LR2_pc50           0.90
RF_LR2_pc2            0.90
RF_LR2_pc3            0.90
RF_MLP2_pc2           0.87
XGB_LR2_pc50          0.86

# 4. VogtmannE_2016

In [4]:
study = 'VogtmannE_2016'
pd.DataFrame(res)[[study]].sort_values(study,ascending=False).round(2).head(5)

             VogtmannE_2016
RF_LR2_pc2             0.60
RF_LR2_pc50            0.58
RF_RF2_pc2             0.57
RF_LR2_pc3             0.57
RF_RF2_pc50            0.57

# 5. YuJ_2015

In [22]:
study = 'YuJ_2015'
pd.DataFrame(res)[[study]].sort_values(study,ascending=False).round(2).head(5)

               YuJ_2015
XGB_LR2_pc3        0.86
XGB_MLP2_pc3       0.86
XGB_LR2_pc50       0.86
XGB_MLP2_pc50      0.85
RF_LR2_pc2         0.84